<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyStay</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form >
        <input name="listings[title]" value="<%=listing.title%>" type="text">
        <br /><br />
        <textarea 
        name="listings[description]"
        value="<%=listing.description%>">
        </textarea>
        <br /><br />
        <input 
        name="listings[image]" 
        value="<%=listing.image%>"
        >
        <br /><br />
        <input name="listings[price]" value="<%=listing.price%>" type="number">
        <br /><br />
        <input name="listings[country]" value="<%=listing.country%>" type="text">
        <br /><br />
        <input name="listings[location]" value="<%=listing.location%>" type="text">
        <br /><br />
        <button>Edit</button>
    </form>
</body>
</html>